/compo_venv/*
/app/staticfiles
/app/mediafiles
/staticfiles
/mediafiles
/data
/app/celerybeat-schedule
/app/celerybeat.pid
/app/celery.log

.DS_Store
*.pyc
*~
__pycache__
*.sqlite3
sqlite.db
.idea/
.idea/*



