{% extends 'base_template.html' %}
{% load static %}
{% load main_tags %}

{%block head%}
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block header_end%}
{%endblock%}

{%block body%}
<h3>Устройства</h3>
<div class = "col-md-12">

    <form action="{% url 'main:chaos_add' %}">
        <button  type="submit" class="btn btn-secondary">Добавить</button>
            <p></p>
    </form>

    <table id="static_datatable" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>Статус</th>
                    <th>ESL (всего)</th>
                    <th>Images succeeded</th>
                    <th>ESL отрисовано (%)</th>
                    <th>Сборка сети (%)</th>
{#                    <th>Описание</th>#}
                    <th>Вольтаж</th>
                    <th>bat_reserved</th>
                    <th>Конфиг</th>
                    <th>Отчеты</th>
                    <th>Актуальность данных</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                  {% for chaos in chaoses %}
                  <tr {% if chaos.status == '' %}
                          class="table-light"
                      {% elif chaos.status == 'OFFLINE' %}
                          class="table-danger"
                      {% elif chaos.status == 'OK' %}
                          class="table-success"
                      {% endif %}>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'main:chaos_detail' chaos.pk %}">{{ chaos.name }}</a></td>
                    <td>{{ chaos.ip }}</td>
                    <td>{{ chaos.status }}</td>
                    <td>{{ chaos.esl_total }}</td>
                    <td>{{ chaos.images_succeeded }}</td>
                    <td>{{ chaos.draw_percent }}</td>
                    <td>{{ chaos.net_percent }}</td>
{#                    <td>{% if chaos.description %}{{ chaos.description }}{% endif %}</td>#}
                    <td>{% if chaos.multimeter_ip %}<img src="/staticfiles/base_svg/bolt.svg" alt="" width=20>{% endif %}</td>
                    <td>{% if chaos.bat_reserved %}<img src="/staticfiles/base_svg/check.svg" alt="" width=20>{% endif %}</td>
                    <td><span class="badge badge-pill badge-danger">{{ chaos.compired_config_errs }}</span> <span class="badge badge-pill badge-warning">{{ chaos.compired_config_warns }}</span></td>
                    <td><a href="{% url 'main:chaos_stats' chaos.pk %}">{{ chaos.pk|stats_view }}</a></td>
                    <td>{{ chaos.date_time_update |date:"d-m-y H:i:s" }}</td>
                    <td><a href="{% url 'main:chaos_edit' chaos.pk %} "><img src="/staticfiles/base_svg/cog.svg" alt="" width=20></a></tr>
                  {% endfor %}
            </tbody>
        </table>
</div>
{%endblock%}

{% block scripts %}
{% endblock scripts %}