{% extends 'base_template.html' %}
{% load static %}

{%block head%}
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block header_end%}
{%endblock%}

{%block body%}
<h4>Статистика для {{ object.name }} ({{ object.ip }})</h4>
<div class = "col-md-12">
        <form action="{% url 'main:chaos_stats_export_to_xlsx' object.pk %}">
            <button type="submit" class="btn btn-success">Общий отчет в Excel</button>
        </form>
<h3>Отрисовки ценников</h3>
    <table id="report_drawed_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Дата создания отчета</th>
                    <th>Статус</th>
                    <th>Дата и время окончания</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>50 %</th>
                    <th>75 %</th>
                    <th>90 %</th>
                    <th>95 %</th>
                    <th>96 %</th>
                    <th>97 %</th>
                    <th>98 %</th>
                    <th>99 %</th>
                    <th>100 %</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
<h3>Сборки сети</h3>
    <table id="report_net_compiles_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>Дата и время создания</th>
                    <th>Статус</th>
                    <th>Дата и время окончания</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>50 %</th>
                    <th>75 %</th>
                    <th>90 %</th>
                    <th>95 %</th>
                    <th>96 %</th>
                    <th>97 %</th>
                    <th>98 %</th>
                    <th>99 %</th>
                    <th>100 %</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
{%endblock%}

{% block scripts %}
    <input type="hidden" id="report_net_compiles_list_url" data-url="{% url 'main:net_compile_list_json' %}" />
    <input type="hidden" id="report_drawed_imgs_list_url" data-url="{% url 'main:drawed_imgs_reports_json' %}" />
    <input type="hidden" id="chaos_pk" data-url="{{ chaos_pk }}" />
{% endblock scripts %}