{% extends 'base_template.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block header_end%}
<a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'printenvelopsapp:registry_add' %}"><b>+</b></a>
{%endblock%}

{%block body%}
    <h4>Отчет об отрисовке #{{ object.pk }}</h4>
<div class = "col-md-12">
    <div class = "col-md-12 justify-content-sm-center">
        <p></p>
       <div class="row">
      <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Статус выполнения</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Настройки отчета</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Конфигурация стенда</a>
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <p></p>
                <b>Стенд:</b> {{ object.chaos.name }} ({{ object.chaos.ip }})<br>
                <b>Дата и время начала отрисовки ценников:</b> {{ object.create_date_time }}<br>
                <b>Дата и время окончания отрисовки ценников:</b> {% if object.date_time_finish%}{{ object.date_time_finish }}{% else %}-{% endif %}<br>
                <b>Всего отрисовано ценников:</b> {% if object.drawed_esl%}{{ object.drawed_esl }}{% else %}-{% endif %}<br>
                <b>Неотрисованных ценников:</b> {% if object.not_drawed_esl%}{{ object.not_drawed_esl }}{% else %}-{% endif %}<br>
                <b>Статус:</b> {% if object.status%}{{ object.status }}{% else %}-{% endif %}<br>

          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <p></p>
                <b>Фактическое количество ESL:</b> {% if object.fact_total_esl%}{{ object.fact_total_esl }}{% else %}н\з{% endif %}<br>
                <b>Предельное время отрисовки ценников (мин):</b> {{ object.draw_imgs_limit_mins }}<br>
                <b>Цвет отрисовки:</b> {{ object.color }}<br>
                <b>Тип отрисовки ценников:</b> {% if object.draw_imgs_type == 'sum' %}СУМ{% elif object.draw_imgs_type == 'highlight' %}HighLight{% endif %}<br>
          </div>
          <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <p></p>
                <b>Версия релиза:</b> {% if object.config.version_num.version_num %}{{ object.config.version_num.version_num }}{% else %}-{% endif %}<br>
                <b>Номера щитов:</b> {% if object.config.shields_num %}{{ object.config.shields_num }}{% else %}-{% endif %}<br>
                <b>Конфигурация системы:</b> {% if object.config.hardware_config %}{{ object.config.hardware_config }}{% else %}-{% endif %}<br>
                <b>Количество ценников:</b> {% if object.config.total_esl %}{{ object.config.total_esl }}{% else %}-{% endif %}<br>
                <b>Количество РУ, шт:</b> {% if object.config.dd_nums %}{{ object.config.dd_nums }}{% else %}-{% endif %}<br>
                <b>Конфигурация РУ:</b> {% if object.config.dd_configuration %}{{ object.config.dd_configuration }}{% else %}-{% endif %}<br>
                <b>Количество донглов на РУ, шт:</b> {% if object.config.dd_dongles_num %}{{ object.config.dd_dongles_num }}{% else %}-{% endif %}<br>
                <b>Версия СУМ:</b> {% if object.config.version_sum %}{{ object.config.version_sum }}{% else %}-{% endif %}<br>
                <b>Версия Хаоса:</b> {% if object.config.version_chaos %}{{ object.config.version_chaos }}{% else %}-{% endif %}<br>
                <b>Конфигурация Хаоса:</b> {% if object.config.chaos_configuration %}<a href="#" data-toggle="modal" data-target="#staticBackdrop">посмотреть</a>{% else %}-{% endif %}<br>
                <b>Число этажей дерева:</b> {% if object.config.tree_floor_num %}{{ object.config.tree_floor_num }}{% else %}-{% endif %}<br>
                <b>Версия драйвера:</b> {% if object.config.version_driver %}{{ object.config.version_driver }}{% else %}-{% endif %}<br>
                <b>Версия прошивки ЭЦ:</b> {% if object.config.version_esl_firmware %}{{ object.config.version_esl_firmware }}{% else %}-{% endif %}<br>
                <b>HW версия ЭЦ:</b> {% if object.config.version_esl_hw %}{{ object.config.version_esl_hw }}{% else %}-{% endif %}<br>
                <b>HW версия донглов:</b> {% if object.config.version_dongles_hw %}{{ object.config.version_dongles_hw }}{% else %}-{% endif %}<br>
                {% if object.config.pk %}<a href="{% url 'main:configuration_edit' object.config.pk %}">изменить конфигурацию</a>{% endif %}
          </div>
        </div>
      </div>
    </div>
        </p>
        {% if object.chaos.grafana_dashboard_url %}<a href="{{ object.chaos.grafana_dashboard_url }}?orgId=1&from={{ object.create_date_time|date:"U" }}000&to={% if object.date_time_finish%}{{ object.date_time_finish|date:"U" }}000{% else %}now{% endif %}" class="btn btn-primary" role="button" target="_blank">Графики (Grafana)</a>{% endif %}
        </p>
        <table id="drawed_stats_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>Процент отрисовки ценников</th>
                    <th>Онлайн ESL</th>
                    <th>Затраченное время</th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{%endblock%}

{% block scripts %}
    <input type="hidden" id="report_drawed_imgs_stats_url" data-url="{% url 'main:drawed_imgs_stats_json' %}" />
    <input type="hidden" id="metric_report_pk" data-url="{{ object.pk }}" />
{% endblock scripts %}