{% extends 'base_template.html' %}

{%block title%}{{ page_name }}{% endblock %}


 {%block body%}
     <div class = "col-md-6">
        <div class = "justify-content-sm-center"></div>
            <p>
             <h4>Новая отрисовка ценников</h4>
            </p>
        <div class = "col-md-12 justify-content-sm-center">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                 <p></p>
            <button type="submit"  type="button" class="btn btn-secondary">Запустить новую отрисовку ценников</button>
            </form>
        </div>
     </div>


 {%endblock body%}


{% block scripts %}
{% endblock scripts %}