{% extends 'base_template.html' %}
{% load static %}

{%block head%}
<link rel="stylesheet" type="text/css" href={% static "recepients/css/jquery.dataTables.min.css"%}>
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block header_end%}
<a style="margin-right: 20px;" role="button" class="btn btn-secondary" href="{% url 'printenvelopsapp:registry_add' %}"><b>+</b></a>
{%endblock%}

{%block body%}
    <h4>Общий отчет #{{ object.pk }}</h4>

<div class = "col-md-12">
<p></p>
   <div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Статус выполнения</a>
      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Настройки отчета</a>
      <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Конфигурация стенда</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <b>Стенд:</b> {{ object.chaos.name }} ({{ object.chaos.ip }})<br>
            <b>Начало снятия метрик:</b> {{ object.create_date_time }}<br>
            <b>Окончание снятия метрик:</b> {% if object.date_time_finish%}{{ object.date_time_finish }}{% else %}-{% endif %}<br>
            <b>Статус:</b> {{ object.status }}<br>

      </div>
      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <b>Количество сборок сети:</b> {{ object.net_compile_amount }}<br>
            <b>Количество отрисовок после каждой сборки:</b> {{ object.draw_imgs_amount }}<br>
            <b>Сборка сети считается успешной после:</b> {{ object.net_success_percent }}%<br>
            <b>Предельное время отрисовки ценников (мин):</b> {{ object.draw_imgs_limit_mins }}<br>
            <b>Предельное время сборки сети (мин):</b> {{ object.net_compile_limit_mins }}<br>
            <b>Фактическое количество ESL:</b> {% if object.fact_total_esl%}{{ object.fact_total_esl }}{% else %}н\з{% endif %}<br>
            <b>Тип отрисовки ценников:</b> {% if object.draw_imgs_type == 'sum' %}СУМ{% elif object.draw_imgs_type == 'highlight' %}HighLight{% endif %}<br>
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                <p></p>
                <b>Версия релиза:</b> {% if object.config.version_num.version_num %}{{ object.config.version_num.version_num }}{% else %}-{% endif %}<br>
                <b>Номера щитов:</b> {% if object.config.shields_num %}{{ object.config.shields_num }}{% else %}-{% endif %}<br>
                <b>Конфигурация системы:</b> {% if object.config.hardware_config %}{{ object.config.hardware_config }}{% else %}-{% endif %}<br>
                <b>Количество ценников:</b> {% if object.config.total_esl %}{{ object.config.total_esl }}{% else %}-{% endif %}<br>
                <b>Количество РУ, шт:</b> {% if object.config.dd_nums %}{{ object.config.dd_nums }}{% else %}-{% endif %}<br>
                <b>Конфигурация РУ:</b> {% if object.config.dd_configuration %}{{ object.config.dd_configuration }}{% else %}-{% endif %}<br>
                <b>Количество донглов на РУ, шт:</b> {% if object.config.dd_dongles_num %}{{ object.config.dd_dongles_num }}{% else %}-{% endif %}<br>
                <b>Версия СУМ:</b> {% if object.config.version_sum %}{{ object.config.version_sum }}{% else %}-{% endif %}<br>
                <b>Версия Хаоса:</b> {% if object.config.version_chaos %}{{ object.config.version_chaos }}{% else %}-{% endif %}<br>
                <b>Конфигурация Хаоса:</b> {% if object.config.chaos_configuration %}<a href="#" data-toggle="modal" data-target="#staticBackdrop">посмотреть</a>{% else %}-{% endif %}<br>
                <b>Число этажей дерева:</b> {% if object.config.tree_floor_num %}{{ object.config.tree_floor_num }}{% else %}-{% endif %}<br>
                <b>Версия драйвера:</b> {% if object.config.version_driver %}{{ object.config.version_driver }}{% else %}-{% endif %}<br>
                <b>Версия прошивки ЭЦ:</b> {% if object.config.version_esl_firmware %}{{ object.config.version_esl_firmware }}{% else %}-{% endif %}<br>
                <b>HW версия ЭЦ:</b> {% if object.config.version_esl_hw %}{{ object.config.version_esl_hw }}{% else %}-{% endif %}<br>
                <b>HW версия донглов:</b> {% if object.config.version_dongles_hw %}{{ object.config.version_dongles_hw }}{% else %}-{% endif %}<br>
                {% if object.config.pk %}<a href="{% url 'main:configuration_edit' object.config.pk %}">изменить конфигурацию</a>{% endif %}
      </div>
    </div>
  </div>
</div>


<p></p>
<div class="btn-group">
        <form action="{% url 'main:export_report_data_to_xlsx' object.pk %}">
            {% if object.chaos.grafana_dashboard_url %}<a href="{{ object.chaos.grafana_dashboard_url }}?orgId=1&from={{ object.create_date_time|date:"U" }}000&to={% if object.date_time_finish%}{{ object.date_time_finish|date:"U" }}000{% else %}now{% endif %}" class="btn btn-primary" role="button" target="_blank">Графики (Grafana)</a>{% endif %}
            <button type="submit" class="btn btn-success">Общий отчет в Excel</button>
        </form>
</div>


<div class="modal fade" id="staticBackdrop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Конфиг Хаоса</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ object.config.chaos_configuration }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


            <p></p>
                <h5>Отрисовки ценников:</h5>
            <p></p>
        <table id="report_drawed_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Дата и время начала</th>
                    <th>Статус</th>
                    <th>Дата и время окончания</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>50 %</th>
                    <th>75 %</th>
                    <th>90 %</th>
                    <th>95 %</th>
                    <th>96 %</th>
                    <th>97 %</th>
                    <th>98 %</th>
                    <th>99 %</th>
                    <th>100%</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
     <p></p>
      <h5>Сборки сети:</h5>
        <table id="report_net_compiles_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Дата и время начала</th>
                    <th>Статус</th>
                    <th>Дата и время окончания</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>50 %</th>
                    <th>75 %</th>
                    <th>90 %</th>
                    <th>95 %</th>
                    <th>96 %</th>
                    <th>97 %</th>
                    <th>98 %</th>
                    <th>99 %</th>
                    <th>100%</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <p></p>
    <h5>Общий лог:</h5>
    <table id="report_all_stats_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>дата_и_время_записи</th>
                    <th>total_nodes</th>
                    <th>inaccessible_nodes</th>
                    <th>total_number_routes</th>
                    <th>maximum_road_length</th>
                    <th>average_route_length</th>
                    <th>accessible_nodes_percent</th>
                    <th>elapsed_time</th>
                    <th>total_esl</th>
                    <th>online_esl</th>
                    <th>images_in_transit</th>
                    <th>images_in_draw</th>
                    <th>images_in_resend_queue</th>
                    <th>images_succeeded</th>
                    <th>images_failed</th>
                    <th>currently_scanning</th>
                    <th>network_mode</th>
                    <th>connects</th>
{#                    <th>voltage_current</th>#}
{#                    <th>voltage_average</th>#}
{#                    <th>voltage_max</th>#}
{#                    <th>bat_reserved1</th>#}
{#                    <th>bat_reserved2</th>#}
{#                    <th>bat_reserved3</th>#}
{#                    <th>bat_reserved4</th>#}
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
{%endblock%}

{% block scripts %}
    <input type="hidden" id="report_net_compiles_list_url" data-url="{% url 'main:net_compile_list_json' %}" />
    <input type="hidden" id="report_drawed_imgs_list_url" data-url="{% url 'main:drawed_imgs_reports_json' %}" />
    <input type="hidden" id="report_all_stats_list_url" data-url="{% url 'main:chaos_stats_json' %}" />
    <input type="hidden" id="metric_report_pk" data-url="{{ object.pk }}" />
    <input type="hidden" id="chaos_pk" data-url="{{ chaos_pk }}" />
{% endblock scripts %}