{% extends 'base_template.html' %}
{% load static %}

{%block head%}
{%endblock%}

{%block navimenu%}
{%endblock%}

{%block header%}
    {{ pagename }}
{%endblock%}

{%block header_end%}
{%endblock%}

{%block body%}
<h3>Сборки сети</h3>
<div class = "col-md-12">
    <form action="{% url 'main:net_compiles_add' %}">
        <button  type="submit" class="btn btn-secondary">Новая сборка сети</button>
            <p></p>
    </form>
    <table id="report_net_compiles_list" class="datatable row-border" style="width:100;">
            <thead>
                <tr>
                    <th>-</th>
                    <th>Дата и время создания</th>
                    <th>Статус</th>
                    <th>Дата и время окончания</th>
                    <th>Имя</th>
                    <th>IP-адрес</th>
                    <th>50 %</th>
                    <th>75 %</th>
                    <th>90 %</th>
                    <th>95 %</th>
                    <th>96 %</th>
                    <th>97 %</th>
                    <th>98 %</th>
                    <th>99 %</th>
                    <th>100 %</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
</div>
{%endblock%}

{% block scripts %}
    <input type="hidden" id="report_net_compiles_list_url" data-url="{% url 'main:net_compile_list_json' %}" />
{% endblock scripts %}