{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>COMPO - {%block title%}{% endblock %}</title>


  <link href={% static "base_css/dataTables.bootstrap4.min.css" %} rel="stylesheet">
  <link href={% static "base_css/bootstrap-4-navbar.css" %} rel="stylesheet">
  <link href={% static "base_css/bootstrap.css" %} rel="stylesheet">
  <link href={% static "base_css/customstyle.css" %} rel="stylesheet">
  <link href={% static "base_css/select2.min.css" %} rel="stylesheet">
  <link href={% static "base_css/select2-bootstrap4.min.css" %} rel="stylesheet">
  <link href={% static "base_css/jquery.dataTables.min.css" %} rel="stylesheet">

<link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"  href="https://cdn.datatables.net/buttons/1.4.0/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

  {%block head%}
  {%endblock%}

</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'main:chaoses_list' %}"><img alt="logo" src="{% static "base_imgs/compo_logo.png" %}" height="35" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Info
              </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'main:chaoses_list' %}">Устройства</a></li>
            <li><a class="dropdown-item" href="{% url 'main:metrics_list' %}">Общие отчеты</a></li>
            <li><a class="dropdown-item" href="{% url 'main:net_compiles_list' %}">Сборки сети</a></li>
            <li><a class="dropdown-item" href="{% url 'main:drawed_list' %}">Отрисовки ценников</a></li>
            <li><a class="dropdown-item dropdown-toggle" href="{% url 'main:chaoses_list' %}">Служебные</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="http://172.16.25.10:3000/">Grafana</a></li>
                <li><a class="dropdown-item" href="http://172.16.25.10:4444/">pgAdmin</a></li>
                <li><a class="dropdown-item" href="http://172.16.25.10:5555/">Flower(мониторинг задач)</a></li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </div>

    {%block navibar%}
    {%endblock navibar%}
  </nav>
{#<nav aria-label="breadcrumb">#}
{#  <ol class="breadcrumb">#}
{#    <li class="breadcrumb-item active" aria-current="page">Home</li>#}
{#  </ol>#}
{#</nav>#}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<div class="container col-12">
    <div class="row justify-content-center">
        {%block body%}
        {%endblock body%}
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.flash.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.0/js/buttons.print.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<script type="text/javascript" src={% static "base_js/json_tables.js"%}></script>
<script type="text/javascript" src={% static "base_js/bootstrap-4-navbar.js" %}></script>
  {%block scripts%}
  {%endblock%}

</body>
</html>
